# shellcheck shell=bash

GIT_REPO_NAME="$(basename "$(git rev-parse --path-format=absolute --git-common-dir)")"
export GIT_REPO_NAME


# Neovim session path
script_dir="$(basename "$(cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd)")"
NVIM_SESSION_FILE_PATH=~/.config/nvim/sessions/${GIT_REPO_NAME}-${script_dir}
touch "${NVIM_SESSION_FILE_PATH}"
export NVIM_SESSION_FILE_PATH

# Issue tracker url
export PROJECT_TRACKER_URL="https://grainger.atlassian.net/browse"

# Vault url
export VAULT_ADDR="https://vault.services.graingercloud.com"

# Secrets
source_env_if_exists ./.secrets

# vim: ft=sh
