# shellcheck shell=bash

GIT_REPO_NAME="$(basename "$(git rev-parse --path-format=absolute --git-common-dir)")"
export GIT_REPO_NAME

# Neovim session path
export NVIM_SESSION_FILE_PATH=~/.config/nvim/sessions

# Issue tracker url
export PROJECT_TRACKER_URL="https://grainger.atlassian.net/browse"

# Secrets
source_env_if_exists ./.secrets

# vim: ft=sh
