[submodule "external/bashlog"]
	path = external/bashlog
	url = git@github.com:Zordrak/bashlog.git
[submodule "external/docopts"]
	path = external/docopts
	url = git@github.com:docopt/docopts.git
[submodule "external/gitignore"]
	path = external/gitignore
	url = git@github.com:github/gitignore.git
