*.swp
.ansible/ansible.log
.ansible/tmp
.ansible/vault-passwords
.docker/machine
.vim-jenkins
tags
lazy-lock.json

# Bin dependencies
bin/docopts*

# Neovim sessions
config/nvim/sessions/**
!config/nvim/sessions/.gitkeep
