[user]
    name = Ryan Fisher
    email = 1899850+RyanFisher3@users.noreply.github.com
[include]
    path = .gitconfig_aliases
[core]
    excludesfile = /Users/ryanfisher/.gitignore_global
    autocrlf = input
    editor = nvr --remote-wait-silent
    ignorecase = false
[diff]
    tool = vim-fugitive
    algorithm = histogram
[difftool "vim-fugitive"]
    cmd = 'vim -f -c "Gvdiff" "$MERGED"'
    path =
[merge]
    ; conflictstyle = diff3
    tool = pycharm
[mergetool "pycharm"]
    cmd = /usr/local/bin/charm-ce merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
    trustExitCode = true
    keepBackup = false
[mergetool]
    keepBackup = false
[push]
    default = simple
[rerere]
    enabled = true
    autoupdate = false
[branch]
    autosetuprebase = always
[commit]
    template = /Users/ryanfisher/.dotfiles/assets/.stCommitMsg
[help]
    autocorrect = 0
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
    templatedir = ~/.git_templates
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 88
    newNormal = green bold
    newHighlight = green bold 29
[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[rebase]
    autosquash = true
[pack]
    windowMemory = 100m
    SizeLimit = 100m
    threads = 1
    window = 0
[advice]
    ignoredHook = false
