[user]
	name = Ryan Fisher
	gpgkey = 4AEE18F83AFDEB23 # github.com webflow
	email = ryan.fisher@grainger.com

# Grainger settings
[includeIf "gitdir:/Users/ryanfisher/dev/grainger"]
	path = ~/.dotfiles/config/git/.gitconfig-grainger
[includeIf "gitdir:/Users/xjxf277/"]
	path = ~/.dotfiles/config/git/.gitconfig-grainger

# Personal settings
[includeIf "gitdir:/Users/ryanfisher/"]
	path = ~/.dotfiles/config/git/.gitconfig-personal
[includeIf "gitdir:/Users/xjxf277/Documents/"]
	path = ~/.dotfiles/config/git/.gitconfig-personal

[include]
	path = ~/.dotfiles/config/git/.gitconfig_aliases

[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
	gpgsign = true
	template = ~/.dotfiles/config/git/.gitconfig_commit_tmpl
[core]
	excludesfile = ~/.dotfiles/config/git/.gitignore_global
	autocrlf = input
	editor = nvr -cc split --remote-wait-silent +'setlocal bufhidden=delete'
	ignorecase = false
	pager = delta # less -JRS
	fsmonitor = true
	commitGraph = true
	untrackedCache = true
	fscache = true
	fsmonitorDaemonTimeout = 1800
[init]
	templateDir = ~/.dotfiles/config/git/.git-template
	defaultBranch = main
[cleanup]
	strip = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true # navigate sections with n/N
	light = false
	line-numbers = true
	side-by-side = false
	diff-so-fancy = true
[diff]
	tool = diffview.nvim
	algorithm = histogram
	colorMoved = default
	context = 6
[difftool "diffview.nvim"]
	cmd = nvr -cc DiffviewOpen --remote-tab-wait-silent
[merge]
	conflictstyle = merge # merge/diff3
	tool = diffview.nvim
[mergetool "diffview.open"]
	cmd = nvr -cc DiffviewOpen --remote-tab-wait-silent
	trustExitCode = false
	keepBackup = false
[push]
	default = simple
[rerere]
	enabled = true
	autoupdate = false
[branch]
	autosetuprebase = always
	sort = -committerdate
[help]
	autocorrect = 0
[color]
	ui = auto
[rebase]
	autosquash = true
	updateRefs = true
[pack]
	windowMemory = 100m
	SizeLimit = 100m
	threads = 1
	window = 0
[advice]
	ignoredHook = false
[core "gc"]
	writeCommitGraph = true
[difftool "sourcetree"]
	cmd = nvim -f -c DiffviewOpen
	path =
[mergetool "sourcetree"]
	cmd = nvim -f -c DiffviewOpen
	trustExitCode = true
[index]
	version = 4
[gc]
	cruftPacks = true
[maintenance "gc"]
	enabled = true
	schedule = weekly
