[user]
	name = Ryan Fisher
	email = ryan@downrangedevops.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIyfjN2C677gfJWdPPkmP9jMYaZMIRyB2qpJ4ykrHx46
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
	allowedSignersFile = ~/.dotfiles/config/git/.gitconfig_ssh_signers
[include]
	path = ~/.dotfiles/config/git/.gitconfig_aliases
[core]
	excludesfile = ~/.dotfiles/config/git/.gitignore_global
	autocrlf = input
	editor = nvr -cc split --remote-wait-silent +'setlocal bufhidden=delete'
	ignorecase = false
	pager = delta # less -JRS
[cleanup]
	strip = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true # navigate sections with n/N
	light = false
	line-numbers = true
	side-by-side = true
	diff-so-fancy = true
[diff]
	tool = diffview.nvim
	algorithm = histogram
	colorMoved = default
	context = 6
[difftool "diffview.nvim"]
	cmd = 'nvim -f -c "DiffviewOpen"
[merge]
	conflictstyle = diff3
	tool = diffview.nvim
[mergetool "diffview.open"]
	cmd = 'nvim -f -c "DiffviewOpen"
	trustExitCode = false
	keepBackup = false
[mergetool]
	keepBackup = false
[push]
	default = simple
[rerere]
	enabled = true
	autoupdate = false
[branch]
	autosetuprebase = always
[commit]
	gpgsign = true
	template = ~/.dotfiles/config/git/.gitconfig_commit_tmpl
[help]
	autocorrect = 0
[init]
	templateDir = ~/.dotfiles/config/git/.git-template
	defaultBranch = main
[color]
	ui = auto
[rebase]
	autosquash = true
[pack]
	windowMemory = 100m
	SizeLimit = 100m
	threads = 1
	window = 0
[advice]
	ignoredHook = false
[maintenance]
	auto = true
	strategy = incremental
