[user]
	name = Ryan Fisher
[includeIf "gitdir:/Users/ryanfisher/dev/grainger"]
	path = ~/.dotfiles/config/git/.gitconfig-grainger
[includeIf "gitdir:/Users/xjxf277/"]
	path = ~/.dotfiles/config/git/.gitconfig-grainger
[includeIf "gitdir:/Users/ryanfisher/"]
	path = ~/.dotfiles/config/git/.gitconfig-personal
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
	gpgsign = true
	template = ~/.dotfiles/config/git/.gitconfig_commit_tmpl
[include]
	path = ~/.dotfiles/config/git/.gitconfig_aliases
[core]
	excludesfile = ~/.dotfiles/config/git/.gitignore_global
	autocrlf = input
	editor = nvr -cc split --remote-wait-silent +'setlocal bufhidden=delete'
	ignorecase = false
	pager = delta # less -JRS
	fsmonitor = true
	commitGraph = true
[init]
	templateDir = ~/.dotfiles/config/git/.git-template
	defaultBranch = main
[cleanup]
	strip = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true # navigate sections with n/N
	light = false
	line-numbers = true
	side-by-side = false
	diff-so-fancy = true
[diff]
	tool = diffview.nvim
	algorithm = histogram
	colorMoved = default
	context = 6
[difftool "diffview.nvim"]
	cmd = nvr -cc DiffviewOpen --remote-tab-wait-silent
[merge]
	conflictstyle = merge # merge/diff3
	tool = diffview.nvim
[mergetool "diffview.open"]
	cmd = nvr -cc DiffviewOpen --remote-tab-wait-silent
	trustExitCode = false
	keepBackup = false
[push]
	default = simple
[rerere]
	enabled = true
	autoupdate = false
[branch]
	autosetuprebase = always
[help]
	autocorrect = 0
[color]
	ui = auto
[rebase]
	autosquash = true
	updateRefs = true
[pack]
	windowMemory = 100m
	SizeLimit = 100m
	threads = 1
	window = 0
[advice]
	ignoredHook = false
[maintenance]
	auto = true
	strategy = incremental
[core "gc"]
	writeCommitGraph = true
