# configure vim mode in terminal
set show-mode-in-prompt
set vi-ins-mode-string "(+) "
set vi-cmd-mode-string "(:) "

# Search history with arrows, up: \e[A, down: \e[B
"\e[A": history-search-backward
"\e[B": history-search-forward

# Easier/faster completion
set show-all-if-ambiguous on
set completion-ignore-case on
